{% load static %}
{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3 class="mb-4">{% trans "Sign Up" %}</h3>

      <p>{% blocktrans %}Welcome to NewsSite. Already have an account?{% endblocktrans %}
        <a class="link" href="{% url 'account_login' %}">{% trans "Sign in here" %}</a> .
      </p>

      <form class="signup-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary mt-3" type="submit">{% trans "Sign Up" %}</button>
      </form>

      <!-- Go to Home link -->
      <div class="mt-4">
        <a href="{% url 'home' %}" class="text-decoration-none">{% trans "Go to Home" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
